app = 'valoren-market'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile.market'

[env]
  NODE_ENV = 'production'
  MARKET_DATA_PORT = '8080'

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 800

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
