app = 'valobq'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    NEXT_PUBLIC_SUPABASE_URL = 'https://tgrhgkqpqsnkhewnmarr.supabase.co'
    NEXT_PUBLIC_SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRncmhna3FwcXNua2hld25tYXJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzMzI3MzEsImV4cCI6MjA4MzkwODczMX0.Am-rYaY9wiIBbXAirbkZj0gau5kxR_Dx2QiMrQC2xns'
    NEXT_PUBLIC_MARKET_DATA_WS_URL = 'wss://valoren-market.fly.dev'

[env]
  NODE_ENV = 'production'
  NEXT_TELEMETRY_DISABLED = '1'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
